{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
<style>
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px; 
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
<a class="navbar-brand">42 Coffee Cups Test Assignment</a>

<div class="row">

	<div class="column">
		<br><br>
		<p><label for="Name">Name:</label>{{ contact.name }}</p>
		<p><label for="SurName">SurName:</label>{{contact.surname}}</p>
		<p><label for="DateOfBirth">DateofBirth:</label>{{contact.dateofdbirth}}</p>
		<p><label for="Bio">Bio:</label>{{contact.bio}}</p>
	</div>
	<p>Contacts</p>

	<div class="column">
		<p><label for="Email">Email:</label>{{contact.email}}</p>
		<p><label for="Jabber">Jabber:</label>{{contact.jabber}}</p>
		<p><label for="Skype">Skype:</label>{{contact.skype}}</p>
		<p><label for="OtherContacts">{{contact.othercontacts}}</label></p>

	</div>
</div>
{% endblock %}
