{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6"><h2>42 Coffee Cups Test Assignment</h2></div>
    </div>


{% if contact %}
<div class="row">

	<div class="col-md-6">
		<br><br>
		<div><span id="Name"><strong>Name:</strong></span>{{ contact.name }}</div>
		<div><span id="SurName"><strong>SurName:</strong></span>{{contact.surname}}</div>
		<div><span id="DateOfBirth"><strong>DateofBirth:</strong></span>{{contact.dateofbirth}}</div>
		<div><span id="Bio"><strong>Bio:</strong></span>{{ contact.bio|linebreaks }}</div>
	</div>

	<div class="col-md-6">
		<div><b>Contacts</b></div>
		<div><span id="Email"><strong>Email:</strong></span>{{contact.email}}</div>
		<div><span id="Jabber"><strong>Jabber:</strong></span>{{contact.jabber}}</div>
		<div><span id="Skype"><strong>Skype:</strong></span>{{contact.skype}}</div>
		<div><span id="OtherContacts"><strong>OtherContacts:</strong></span>{{contact.othercontacts|linebreaks}}</div>

	</div>
</div>
</div>
{%else %}
<p>Contact details not in db.</p>
{% endif %}
<hr>
    <a class="btn" href="{% url 'requests' %}"> Requests </a>
{% endblock %}
